---
# Command line tool for toolshed. More information about toolshed can be found at https://github.com/wallerjake/toolshed

# Before using this tool you should create a file called .toolshedrc in your projects directory or home directory. This is read as a yaml file so format it as you would a yaml file.
# If added to the projects directory settings will be applied to that specific project. If applied to your home directory all projects under home will get those settings. It will take the first .toolshedrc file it finds so you can override the home directory global one when needed.

# ticket_tracking_tool: 'pivotal_tracker' (required)
# pivotal_tracker_username: [pivotal_tracker_username] (optional)
# pivotal_tracker_password: [pivotal_tracker_password] (optional)
# default_pivotal_tracker_project_id: [project_id] (optional)
# ticket_status_for_complete: [status] (required (only if using pull requests)) example: "Code Review"

# github_username:  [github_username] (optional)
# github_password:  [github_password] (optional)
# github_token:     [github_token] (optional) - create the token if your account require two factor you can disable token or enable through Github. See https://github.com/settings/tokens/new for details.
# git_tool: github (optional default `github`)
# use_git_submodules: false (optional default `false`)
# pull_from_remote_name: [pull_from_remote_name] (required)
# pull_from_repository_user: [pull_from_repository_username] (required)
# pull_from_repository_name: [pull_from_repository_name] (required)
# push_to_repository_user: [push_to_repository_user] (required)
# push_to_repository_name: [push_to_repository_name] (required)
# push_to_remote_name: [push_to_remote_name] (required)
# default_pull_request_title_format: [id] - [summary] (optional)

# time_tracking_username: [username] (optional)
# time_tracking_password: [password] (optional)
# time_tracking_owner: [owner] (optional)
# time_tracking_default_project_id: [project_id] (optional)
# time_tracking_tool: [tool] (required unless you are not going to be doing time tracking)
